<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Midterm Survey</title>

    <style>
        .err {
            color: darkred;
        }
    </style>

</head>
<body>
<h1>Midterm Survey</h1>
<form method="post" action="#">

    <check if="{{ @errors['name'] }}">
        <span class="err">{{ @errors['name'] }}</span>
    </check>
    <label>Name
        <input type="text" id="name" name="name" value="{{ @name }}">
    </label>
    <br>
    <br>
    <p>Check all that apply:
        <check if="{{ @errors['options'] }}">
            <span class="err">{{ @errors['options'] }}</span>
        </check>
        <br>
        <repeat group="{{ @options }}" value="{{ @option }}">
            <label>
                <input type="checkbox" name="options[]" value="{{ @option }}">

                <check if="{{ !empty(@options) }}">

                {{ @option }}
                </check>
            </label><br>
        </repeat>

    </p>

    <!-- Adds Survey checkboxes here -->

    <input type="submit" value="Submit">
</form>
</body>
</html>